.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.total{
  position: absolute;
  margin-top: 90px;
  left:12vw;
  
}

.img{
  position: absolute;
  margin-top: 40px;
  right: 10vw;
  
}

.total-stats{
  color: rgb(67, 67, 67);
  font-size: 20px;
  
}

.email{
  color: rgb(70, 117, 218);
}